%h2=l :label_title_edit_recipe

= error_messages_for :recipe

- labelled_form_for([@recipe_category, @recipe]) do |f|
  %p= f.text_field :name, :required => true
  %p= f.text_area :description, :cols => 80, :required => true
  %p= f.text_area :directions, :cols => 80, :required => true
  %p= f.submit l(:label_button_update)

%p= link_to l(:label_link_back), recipe_category_recipes_path(@recipe_category)
