%h2=l :label_title_new_recipe

= error_messages_for :recipe

- labelled_form_for([@recipe_category, @recipe]) do |f|
  %p= f.text_field :name, :required => true
  = textile_info
  %p~ f.text_area :description, :rows => 10, :cols => 60, :required => true
  = textile_info
  %p~ f.text_area :directions, :rows => 10, :cols => 60, :required => true
  %p= f.submit l(:label_button_create)

%p= link_to l(:label_link_back), recipe_category_recipes_path(@recipe_category)
