%h2= l(:label_title_ingredients, @ingredient_category.name)

- if flash[:notice]
  #notice
    %p= flash[:notice]

#ingredients
  = render :partial => "ingredient", :collection => @ingredients
  
= will_paginate @ingredients

%p= link_to l(:label_link_back), ingredient_categories_path

- content_for :sidebar do
  %li= link_to l(:label_link_new_ingredient), new_polymorphic_path([@ingredient_category, Ingredient])
